<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="threadNumber" value="5" />
      <add key="classesNamespace" value="DtoGenerator" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>